
<main class="show">

	<nav id="nav_2">
		<ul>
			<li>Sign Out</li>
		</ul>
	</nav>
	
	<h2>Hi <%= @attendee.name %></h2>

	<div id="profile_content">

	<div id='search_field'>
	<%= form_tag(search_index_path, :method => :get) do %>
		<div class="search_button">
	 		<%= label_tag(:location, "Search:") %>
		</div>
	  <%= text_field_tag(:location) %>
	  <%= submit_tag("Search") %>
	<% end %>
	</div>
		
		
		<div id="all_events">
		<h3> All events </h3>
			<ul id="events">
			<% @events.each do |event| %>
				<li class="event" data-latitude="<%=event.lat%>" data-longitude="<%=event.lng%>">
					<%= event.name %> <%= event.event_type %> <%= event.date %> <%= event.church.name %>
					<%= button_to "Attend", event_attendee_index_path(event_id: event.id, attendee_id: session[:attendee_id]), remote: true %>
				</li> </br>
			<% end %>
			</ul>
			</div>
		
		</div>


		<div id="my_events">
			<h3> My Events </h3>
			<ul id="my_event_list">
			</ul>
		</div>

		<div class="clear"></div>
	</div>

</main>