

<main class="show">
	<h2> <%= @church.name%> profile </h2>

	<div id="profile_content">
		


		<%= link_to 'Events', event_index_path %>
		<%= link_to 'Create Event', new_event_path, :remote => true, :id => 'create_event' %>

		<div id="event_create"> 
		</div>

		<div id="map"> </div>

		<ul>
<% @events.each do |event| %>
<li class="events" data-latitude="<%=event.lat%>" data-longitude="<%=event.lng%>">


	<%= event.name %> <%= event.event_type %> <%= event.date %>
	
	<%=link_to 'Edit', edit_event_path(:id)%>
	
	<%=link_to 'Show', event_path(:id)%>
	</li> <br/>

<% end %>
</ul>


		<div class="clear"></div>
	</div>

</main>




